
.dashboard-event-edit__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f1f5f9;
}

.dashboard-event-edit__title {
  margin: 0 0 0.5rem 0;
}

.dashboard-event-edit__subtitle {
  margin: 0px;
}
