
.dashboard-profile__header {
  margin-bottom: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f1f5f9;
}

.dashboard-profile__title {
  margin: 0 0 0.5rem 0;
}

.dashboard-profile__subtitle {
  margin: 0px;
}
