.main {
  background-color: #fdfdfd;
  min-height: 100vh;
}

.homeContainer {
  max-width: 1600px;
  margin: 40px auto;
  padding: 0 2vw;
  min-width: 0;
}

.inline-style-1 {
  background-color: #ffffff;
  padding: 4rem 0;
  overflow-x: hidden;
}
